@model ControlEmpleados.Entities.Solicitud_Vacaciones

@{
    ViewData["Title"] = "Solicitud de Vacaciones";
}

<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-header text-center">
            <h5>Agregar Solicitud de Vacaciones</h5>
        </div>
        <div class="card-body card">
            <form method="post" asp-controller="SolicitudVacaciones" asp-action="AgregarSolicitud">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="ASUNTO">Asunto:</label>
                            <input type="text" class="form-control" id="ASUNTO" name="ASUNTO" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="DESCRIPCION">Descripción:</label>
                            <textarea type="text" class="form-control" id="DESCRIPCION" name="DESCRIPCION" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="TIPO_VACACIONES">Tipo de vacaciones:</label>
                            <select class="form-control" id="TIPO_VACACIONES" name="TIPO_VACACIONES" required>
                                <option value="">Seleccione</option>
                                <option value="Adelantadas">Adelantadas</option>
                                <option value="Atrasadas">Atrasadas</option>
                                <option value="Reglamentarias">Reglamentarias</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="FECHA_INICIO">Fecha de inicio:</label>
                            <input type="date" class="form-control" id="FECHA_INICIO" name="FECHA_INICIO" required>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="FECHA_FINAL">Fecha de finalización:</label>
                            <input type="date" class="form-control" id="FECHA_FINAL" name="FECHA_FINAL" required>
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center">
                    
                    <button type="submit" class="btn btn-primary">Agregar Solicitud</button>
                    
                    <a onclick="window.location='@Url.Action("MisSolicitudes", "SolicitudVacaciones")'" class="btn btn-secondary" style="background-color:coral">Volver</a>
                </div>
            </form>

            @{
                if (@ViewBag.mensaje == "OK")
                {
                    @Html.Raw("<script> $(document).ready(function() {\r\n alertaRegistro();\r\n }); </script>")
                    ;
                }

                if (@ViewBag.Alerta == "ERROR")

                {
                    @Html.Raw("<script> $(document).ready(function() {\r\n alertaCorreo();\r\n }); </script>")
                    ;
                }
            }
        </div>
    </div>
</div>

<script>

    function alertaRegistro() {
        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: 'La solicitud de registro correctamente.',
            showConfirmButton: true

        })
        setTimeout(function () {
            window.location.href = "/SolicitudVacaciones/MisSolicitudes";
        }, 3000);
    }


</script>
