@model IEnumerable<ControlEmpleados.Consults.ConsultarSolicitudVacaciones>
@{
    ViewData["Title"] = "Solicitudes de Vacaciones";
}

<div class="row">

    <div class="col-md-1 grid-margin stretch-card">
    </div>

    <div class="col-md-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">@ViewData["Title"]</h4>
                <br />
                <table class="table table-responsive" id="TablaConsultas">
                    <thead>
                        <tr>
                            <th class="text-center">Asunto</th>
                            <th class="text-center">Descripción</th>
                            <th class="text-center">Tipo Vacaciones</th>
                            <th class="text-center">Fecha Inicio</th>
                            <th class="text-center">Fecha Final</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Cédula</th>
                            <th class="text-center">Vacaciones Disponibles</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td class="text-center">@item.ASUNTO</td>
                                <td class="text-center">@item.DESCRIPCION</td>
                                <td class="text-center">@item.TIPO_VACACIONES</td>
                                <td class="text-center">@item.FECHA_INICIO.ToString("dd/MM/yyyy")</td>
                                <td class="text-center">@item.FECHA_FINAL.ToString("dd/MM/yyyy")</td>
                                <td class="text-center">@item.NOMBRE @item.PRIMER_APELLIDO @item.SEGUNDO_APELLIDO</td>
                                <td class="text-center">@item.CEDULA</td>
                                <td class="text-center">@item.VACACIONES_DISPONIBLES</td>
                                @if (@item.ESTADO == "Pendiente")
                                {
                                    <td class="text-center" style="min-width: 150px;"><p class="alert alert-primary"><i class="fa fa-clock-o" style="font-size: 16px;"></i><span> @item.ESTADO</span></p></td>
                                }
                                else if (@item.ESTADO == "Aprobada")
                                {
                                    <td class="text-center" style="min-width: 150px;"><p class="alert alert-success"><i class="fa fa-check" style="font-size: 16px;"></i><span> @item.ESTADO</span></p></td>
                                }
                                else if (@item.ESTADO == "Rechazada")
                                {
                                    <td class="text-center" style="min-width: 150px;"><p class="alert alert-danger"><i class="fa fa-close" style="font-size: 16px;"></i><span> @item.ESTADO</span></p></td>
                                } else
                                {
                                    <td class="text-center">@item.ESTADO</td>
                                }
                                <td>
                                    <select >

                                        <option value="Pendiente">Pendiente</option>
                                        <option value="Aprobada">Aprobada</option>
                                        <option value="Rechazada">Rechazada</option>
                                    </select>
                                    <a onclick="cambiarEstado(@item.ID_SOLICITUD_VACACIONES)">
                                        <i class="fa-solid fa-pencil fa-1x custom-icon-color"></i>
                                    </a>
                                </td>

                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>


    var lang = {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        },
        "buttons": {
            "copy": "Copiar",
            "colvis": "Mostrar Columnas",
            "pdf": "PDF",
            "excel": "Excel",
            "print": "Imprimir"

        }
    }

    $(document).ready(function () {
        var table = $('#TablaConsultas').DataTable({
            language: lang,
            lengthChange: false
        });

        table.buttons().container()
            .appendTo('#TablaConsultas_wrapper .col-md-6:eq(0)');
    });


    function cambiarEstado(idSolicitudVacaciones) {
        $.ajax({
            type: "POST",
            url: "/SolicitudVacaciones/CambiarEstado",
            data: {
                idSolicitudVacaciones: idSolicitudVacaciones
            },
            cache: false,
            dataType: 'json',
            success: function (datos) {
                
            },
            error: function (data) {

            }
        });
    }
</script>



