@model ControlEmpleados.Entities.Planilla

@{
    ViewData["Title"] = "Agregar Planilla";
}

<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-header text-center">
            @if (Model.ID_PLANILLA != 0)
            {
                <h5>Editar Planilla</h5>
            }
            else
            {
                <h5>Agregar Planilla</h5>
            }
        </div>
        <div class="card-body card">
            <form method="post" asp-controller="Planillas" asp-action="AgregarPlanilla">
                @{
                    string fecha = Model.FECHA.ToString("yyyy-MM-dd");
                }
                @if (Model.ID_PLANILLA != 0)
                {

                    <div class="form-group">
                        <label for="FECHA">Fecha:</label>
                        <input type="date" class="form-control" id="FECHA" name="FECHA" value="@fecha" required>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="FECHA">Fecha:</label>
                        <input type="date" class="form-control" id="FECHA" name="FECHA" required>
                    </div>

                }
                <style>
                    .readonly-select {
                        background-color: #f5f5f5; 
                        pointer-events: none; 
                    }
                </style>
                @if (Model.ID_PLANILLA != 0)
                {
                    <div class="form-group">
                        <label for="ID_EMPLEADO">Empleado:</label>
                        <select class="form-control readonly-select" id="ID_EMPLEADO" name="ID_EMPLEADO" required readonly>
                            @foreach (var empleado in ViewBag.empleados)
                            {
                                <option value="@empleado.ID_EMPLEADO" selected="@(Model.ID_EMPLEADO == empleado.ID_EMPLEADO)">@empleado.NOMBRE @empleado.PRIMER_APELLIDO @empleado.SEGUNDO_APELLIDO</option>
                            }
                        </select>
                    </div>

                }
                else
                {
                    <div class="form-group">
                        <label for="ID_EMPLEADO">Empleado:</label>
                        <select class="form-control" id="ID_EMPLEADO" name="ID_EMPLEADO" required>
                            <option value="">Seleccione</option>
                            @foreach (var empleado in ViewBag.empleados)
                            {
                                <option value="@empleado.ID_EMPLEADO">@empleado.NOMBRE @empleado.PRIMER_APELLIDO @empleado.SEGUNDO_APELLIDO</option>
                            }
                        </select>
                    </div>
                }
                @if (Model.ID_PLANILLA != 0)
                {
                    <div class="form-group">
                        <label for="HORAS_EXTRAS">Horas Extras:</label>
                        <input type="number" class="form-control" id="HORAS_EXTRAS" name="HORAS_EXTRAS" value="@Model.HORAS_EXTRAS" required>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="HORAS_EXTRAS">Horas Extras:</label>
                        <input type="number" class="form-control" id="HORAS_EXTRAS" name="HORAS_EXTRAS" value="@Model.HORAS_EXTRAS" required>
                    </div>

                }
                @if (Model.ID_PLANILLA != 0)
                {
                    <div class="form-group">
                        <label for="DEDUCCIONES">Deducciones:</label>
                        <input type="text" class="form-control" id="DEDUCCIONES" name="DEDUCCIONES" value="@Model.DEDUCCIONES" required>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="DEDUCCIONES">Deducciones:</label>
                        <input type="text" class="form-control" id="DEDUCCIONES" name="DEDUCCIONES" value="@Model.DEDUCCIONES" required>
                    </div>

                }
                @if (Model.ID_PLANILLA != 0)
                {
                    <div class="form-group">
                        <label for="SALARIO_NETO">Salario Neto:</label>
                        <input type="number" class="form-control" id="SALARIO_NETO" name="SALARIO_NETO" value="@Model.SALARIO_NETO" required>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="SALARIO_NETO">Salario Neto:</label>
                        <input type="number" class="form-control" id="SALARIO_NETO" name="SALARIO_NETO" value="@Model.SALARIO_NETO" required>
                    </div>

                }




                <br />
                <div class="text-center">
                    @if (Model.ID_PLANILLA != 0)
                    {
                        <button type="submit" id="btnAgregar" class="btn btn-primary">Actualizar Datos </button>
                    }
                    else
                    {
                        <button type="submit" id="btnAgregar" class="btn btn-primary">Agregar</button>
                    }
                    <a onclick="window.location='@Url.Action("ConsultarPlanillas", "Planillas")'" class="btn btn-secondary" style="background-color:coral">Volver</a>
                </div>
            </form>

            @{

                if (@ViewBag.mensaje == "OK")
                {
                    @Html.Raw("<script> $(document).ready(function() {\r\n alertaRegistro();\r\n }); </script>")
                    ;
                }


                if (@ViewBag.mensaje == "OK.")
                {
                    @Html.Raw("<script> $(document).ready(function() {\r\n alertaEdit();\r\n }); </script>")
                    ;
                }
            }
        </div>
    </div>
</div>


<script>

    function alertaRegistro() {

        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: 'Se agregó la planilla exitosamente!',
            showConfirmButton: true

        })
        setTimeout(function () {
            window.location.href = "/Planillas/ConsultarPlanillas";
        }, 3000);


    }

    function alertaEdit() {

        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: 'Los datos de la planilla se actualizaron correctamente!',
            showConfirmButton: true

        })
        setTimeout(function () {
            window.location.href = "/Planillas/ConsultarPlanillas";
        }, 3000);
    }
</script>


<script>
    const today = new Date().toISOString().slice(0, 10); // Obtener fecha actual en formato ISO
    document.querySelectorAll('input[type="date"]').forEach(el => {
        el.min = today;
    });
</script>