@model IEnumerable<ControlEmpleados.Models.Empleado>
@{
    ViewData["Title"] = "Empleados";
}

<!--<h4 class="display-4 header-title">Usuarios</h4>-->
<!--<p>Aca la lista de Empleados</p>-->
@**@
@functions {

    void RenderEncabezado()
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(encabezado => encabezado.PRIMER_APELLIDO)
            </th>
            <th>
                @Html.DisplayNameFor(encabezado => encabezado.SEGUNDO_APELLIDO)
            </th>
            <th>
                @Html.DisplayNameFor(encabezado => encabezado.CÉDULA)
            </th>
            <th>
                @Html.DisplayNameFor(encabezado => encabezado.VACACIONES_DISPONIBLES)
            </th>
            <th>
                @Html.DisplayNameFor(encabezado => encabezado.FECHA_DE_INGRESO)
            </th>
            <th>
            </th>
        </tr>
    }
    void RendeDatos(Empleado empleados)
    {
        <th>
            @Html.DisplayFor(modelitem=> empleados.NOMBRE)
        </th>
        <th>
            @Html.DisplayFor(modelItem => empleados.PRIMER_APELLIDO)
        </th>
        <th>
            @Html.DisplayFor(modelItem => empleados.SEGUNDO_APELLIDO)
        </th>
        <th>
            @Html.DisplayFor(modelItem => empleados.CÉDULA)
        </th>
        <th>
            @Html.DisplayFor(modelItem => empleados.VACACIONES_DISPONIBLES)
        </th>
        <th>
            @Html.DisplayFor(modelItem => empleados.FECHA_DE_INGRESO)
        </th>
    }

}
<br />
<h3>Lista de Empleados</h3>


@*<a asp-action="Crear">Nuevo Producto</a>*@

@if (Model.Any())
{
    <table class="table">
        <thead>
            @{
                RenderEncabezado();
            }
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @{
                        RendeDatos(item);
                    }
                    @*<th>
            <a asp-action="Editar" asp-route-ID="@item.ID_USUARIO">Editar</a>
            </th>
            *@
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <h3>Lo sentimos, no se econtró la información</h3>
    </div>
}